/* Import ET Book styles
   adapted from https://github.com/edwardtufte/et-book/blob/gh-pages/et-book.css */

@media (min-width: 600px) {
  .book.with-summary .book-header.fixed {
    left: 200px;
  }
}

@media (min-width:600px) {
    .book.with-summary .book-body {
        left: 200px
    }
}

.book .book-body .navigation.navigation-prev {
    left: -30px; /* Stop nav bar overlapping code fold */
}

.book .book-summary {
    position: absolute;
    top: 0;
    left: -300px;
    bottom: 0;
    z-index: 1;
	font-size:10px;
	line-height:0;
    width: 200px;
    color: #364149;
    background: #fafafa;
    border-right: 1px solid rgba(0, 0, 0, .07);
    -webkit-transition: left 250ms ease;
    -moz-transition: left 250ms ease;
    -o-transition: left 250ms ease;
    transition: left 250ms ease
}

/*@charset "UTF-8"; */

@font-face {
  font-family: "et-book";
  src: url("et-book/roman-line-figures.ttf") format("truetype");
  font-weight: normal;
  font-style: normal
}

@font-face {
  font-family: "et-book";
  src: url("et-book/display-italic-old-style-figures.ttf") format("truetype");
  font-weight: normal;
  font-style: italic
}

@font-face {
  font-family: "et-book";
  src: url("et-book/bold-line-figures.ttf") format("truetype");
  font-weight: bold;
  font-style: normal
}

@font-face {
  font-family: "et-book-roman-old-style";
  src: url("et-book/roman-old-style-figures.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* Tufte CSS styles */
html { font-size: 10px; }

body { width: 100%;
       margin-left: auto;
       margin-right: auto;
       padding-left: 0%;
       font-family: et-book, Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
       /*background-color: #fffff8;*/
       color: #111;
       max-width: 1400px;
       counter-reset: sidenote-counter; }

h1.title { font-weight: 400;
     font-style: normal;
     margin-top: 1rem;
     margin-bottom: .7rem;
     font-size: 3.2rem;
     line-height: 1; }

h1 { font-style: normal; /*changed from italic*/
     font-weight: 400;
     margin-top: 1.9rem;
     margin-bottom: 0;
     font-size: 2.2rem;
     line-height: 1; }

h2 { font-style: normal; /*changed from italic*/
     font-weight: 300;
     font-size: 1.7rem;
     margin-top: .5rem;
     margin-bottom: .5;
     line-height: 1; }

h3 { font-style: normal; /*changed from italic*/
     font-weight: 200;
     font-size: 1.5rem;
     margin-top: .5rem;
     margin-bottom: .5rem;
     line-height: 1; }

h3.subtitle { font-style: italic;
             font-weight: 200;
             margin-top: 1rem;
             margin-bottom: 1rem;
             font-size: 1.8rem;
             display: block;
             line-height: 1; }

h4.author, h4.date {
    font-size: 1.4rem;
    font-weight: 400;
    margin: 1rem auto;
    line-height: 1;
}

.numeral { font-family: et-book-roman-old-style; }

.danger { color: red; }

article { position: relative;
          padding: 5rem 0rem; }

section { padding-top: .5rem;
          padding-bottom: .5rem; }

/*p, ol, ul { font-size: 1.4rem; }*/

p { line-height: 2.3rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-right: 0;
    vertical-align: baseline; }

blockquote { font-size: 1.4rem; }

blockquote p { width: 50%; }

blockquote footer { width: 50%;
                    font-size: 1.1rem;
                    text-align: right; }

                    li { padding: 0.5rem 0; width 75% }

table {
  border-top: 2px solid #111;
  border-bottom: 2px solid #111;
  font-size: 1.1rem;
}

th {
  border-bottom: 1px solid #111;
}

div.figure {
         padding: 0;
         border: 0;
         font-size: 100%;
         font: inherit;
         vertical-align: baseline;
         max-width: 55%;
         -webkit-margin-start: 0;
         -webkit-margin-end: 0;
         margin: 0 0 3em 0;
         }

/* Links: replicate underline that clears descenders */
/*
a:link, a:visited { color: inherit; }

a:link { text-decoration: none;
         background: -webkit-linear-gradient(#fffff8, #fffff8), -webkit-linear-gradient(#fffff8, #fffff8), -webkit-linear-gradient(#333, #333);
         background: linear-gradient(#fffff8, #fffff8), linear-gradient(#fffff8, #fffff8), linear-gradient(#333, #333);
         -webkit-background-size: 0.05em 1px, 0.05em 1px, 1px 1px;
         -moz-background-size: 0.05em 1px, 0.05em 1px, 1px 1px;
         background-size: 0.05em 1px, 0.05em 1px, 1px 1px;
         background-repeat: no-repeat, no-repeat, repeat-x;
         text-shadow: 0.03em 0 #fffff8, -0.03em 0 #fffff8, 0 0.03em #fffff8, 0 -0.03em #fffff8, 0.06em 0 #fffff8, -0.06em 0 #fffff8, 0.09em 0 #fffff8, -0.09em 0 #fffff8, 0.12em 0 #fffff8, -0.12em 0 #fffff8, 0.15em 0 #fffff8, -0.15em 0 #fffff8;
         background-position: 0% 93%, 100% 93%, 0% 93%; }

@media screen and (-webkit-min-device-pixel-ratio: 0) { a:link { background-position-y: 87%, 87%, 87%; } }

a:link::selection { text-shadow: 0.03em 0 #b4d5fe, -0.03em 0 #b4d5fe, 0 0.03em #b4d5fe, 0 -0.03em #b4d5fe, 0.06em 0 #b4d5fe, -0.06em 0 #b4d5fe, 0.09em 0 #b4d5fe, -0.09em 0 #b4d5fe, 0.12em 0 #b4d5fe, -0.12em 0 #b4d5fe, 0.15em 0 #b4d5fe, -0.15em 0 #b4d5fe;
                    background: #b4d5fe; }

a:link::-moz-selection { text-shadow: 0.03em 0 #b4d5fe, -0.03em 0 #b4d5fe, 0 0.03em #b4d5fe, 0 -0.03em #b4d5fe, 0.06em 0 #b4d5fe, -0.06em 0 #b4d5fe, 0.09em 0 #b4d5fe, -0.09em 0 #b4d5fe, 0.12em 0 #b4d5fe, -0.12em 0 #b4d5fe, 0.15em 0 #b4d5fe, -0.15em 0 #b4d5fe;
                         background: #b4d5fe; }
*/

/* Sidenotes, margin notes, figures, captions */
img {max-width: 100%;}

.marginnote img { display: block;
    padding-left: 12px;
}

.sidenote, .marginnote { float: right;
                         clear: right;
                         margin-right: -10%;
                         width: 35%;
    margin-top: 0;
                         padding-left: 12px;
                         margin-bottom: 1rem;
                         font-size: 1.1rem;
                         line-height: 1.3;
                         vertical-align: baseline;
                         position: relative; }

.marginnote p {font-size:100%!important;
				line-height:1.3;
    padding-right: 25px;

}

.marginnote ul { width: 100%;
			padding-right:5%!important;
			line-height:1.2!important;
         -webkit-padding-start: 0%;
         -webkit-padding-end: 0%;
      padding-left: 10px;
          padding-right: 20px;


}

.marginnote li {width: 80%;
    padding-right: 5%;
      padding-left: 12px;
          padding-right: 20px;

}

.marginnote ol {font-size:90%!important;
				width: 100%;
				padding-right:5%!important;
      padding-left: 10px;
          padding-right: 20px;


}

.sidenote-number { font-family: et-book-roman-old-style;
                                           position: relative;
                                           vertical-align: baseline; }

.sidenote-number { font-size: 1rem;
                         top: -0.5rem;
                         left: 0.1rem; }

p, footer, table { width: 75%!important; }
table table, li p, li pre { width: auto; }
li p, li pre {margin-top: auto; }

.caption {width: 100%!important;}

div.fullwidth, table.fullwidth { max-width: 90%; }

/*#TOC, h1.title { max-width: 90%; }*/

#TOC ol, #TOC ul { width: auto; }

div.fullwidth p.caption {
  margin-right: 0;
  max-width: 33%;
}

p.caption {  text-align: left;
             font-size: 70%!important;
             line-height: 1.5;
             width: 100% }

@media screen and (max-width: 760px) { p, footer, ol, ul, table { width: 90%; }
                                       pre { width: 87.5%; }
                                       ul { width: 85%; }
                                       figure { max-width: 90%; }
                                       div.fullwidth p.caption { max-width: none; }
                                       blockquote p, blockquote footer { width: 90%; }}

.sans { font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
        letter-spacing: .15em; }

code { font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
        font-size: 1.125rem;
        line-height: 1.6; }

pre code { 
  font-size: 1rem; 
  white-space: inherit;
  width: 75%; /* Width for chunk outputs in R */ 
}

p code { white-space: inherit; }

h1 code, h2 code, h3 code { font-size: 0.80em; }

.marginnote code, .sidenote code { font-size: 1rem; }

pre { width: 75%;
           overflow-x: auto; }

.fullwidth { max-width: 90%;
             clear:both; }

span.newthought { font-variant: small-caps;
                  font-size: 1.2em; }

.sourceCode{ /* Create a wrapper for Rmd chunk source code */
  word-wrap: normal;
  white-space: pre;
  max-width: 75%;
  clear:both;
}

input.margin-toggle { display: none; }

label.sidenote-number { display: inline; }

label.margin-toggle:not(.sidenote-number) { display: none; }

@media (max-width: 760px) { label.margin-toggle:not(.sidenote-number) { display: inline; }
                            .sidenote, .marginnote { display: none; }
                            .shownote,
                            .margin-toggle:checked + .sidenote,
                            .margin-toggle:checked + .marginnote {
                                                                   display: block;
                                                                   float: left;
                                                                   left: 1rem;
                                                                   clear: both;
                                                                   width: 95%;
                                                                   margin: 1rem 2.5%;
                                                                   vertical-align: baseline;
                                                                   position: relative;
                                                                   }

                                                                   label { cursor: pointer; }
                            div.figure { max-width: 90%; }
                            pre { width: 90%;
                                       padding: 0; }
                            }


/*MY OWN ELEMENTS largely from textbook work*/


.rmdcaution, .rmdimportant, .rmdnote, .rmdtip, .rmdwarning {
  background: #f5f5f5 5px center/3em no-repeat;
}

.note{
  display: inline-block;
  background: #faf4c8 5px center/3em no-repeat;
    border: 1px solid black;
}

.note {
  background-image: url("support/images/notechalk.jpeg");
}


.def{
  padding: 1em;
  display: inline-block;
  background: #f5f5f5 5px center/3em no-repeat;
  width: 75%!important;
    border: 1px solid black;
}


/*This one is meant to cue student input, e.g., through Hypothes.is*/

.inputq{
  background: #c9f5c9 50px center/3em no-repeat;
  background-image: url("support/images/mega.png");
}

.supplement{
  background: #d6b5e5 5px center/3em no-repeat;
  background-image: url("support/images/pills.jpeg");
}

.technote{
  background: #bfffdf 5px center/3em no-repeat;
}

.warning{
  background: #ffaaa5 5px center/3em no-repeat;
  background-image: url("support/images/warning.png");
}

.tip{
  background: #f8e6ff 5px center/3em no-repeat;
  background-image: url("support/images/tip.png");
    border: 1px solid black;
}

.compqn{
  background: #cbecf2 5px center/3em no-repeat;
  background-image: url("support/images/micro.png");
}

.goofus{
  margin-bottom: 2px;
  background: #fcd1c2 2px center/3em no-repeat;
    padding: .2em .2em .2em .2em;
  display: inline-block;
  margin-bottom: 5px;
  width: 75%!important;
  background-image: url("support/images/goofus.png");
}
.gallant{
  margin-bottom: 2px;
  background: #c9f5c9 2px center/3em no-repeat;
  padding: .2em .2em .2em .2em;
  display: inline-block;
  margin-bottom: 5px;
  width: 75%!important;
  background-image: url("support/images/crown.png");
}

.rmdtipi {
  background-image: url("support/images/tip.png");
}

.book .book-body .page-wrapper .page-inner {
    margin: 0 auto;
    padding: 10px 0 20px
    box-sizing: border-box;
    -webkit-box-sizing: content-box;
}
.book .book-body .page-wrapper .page-inner {
  max-width: 100%;
  margin-bottom: 50px;
  margin-top: 50px;
  margin-left: 25px;
  margin-right: 40px;
}

h3.subtitle em {
  font-style: normal;
}

.page-inner {
  width: 95%;
}

.fold-btn {
  float: right;
  margin: 0px 0px 0 0;
    font-size: smaller;
}


.fold {
  border: 1px solid black;
  min-height: 40px;
    max-width: 75%;
    padding: .6em;
}


.note p, .def p, .technote p, .inputq p, .warning p, .tip p, .compqn p, .fold p, .goofus p, .gallant p, .supplement p { width: 100%!important; }

.note, .inputq, .supplement, .tip, .supplement, .technote, .warning, .tip, .compqn, .rmdcaution, .rmdimportant, .rmdnote, .rmdtip, .rmdwarning {
  padding: .8em;
  max-width: 75%!important;
  }

/*Note here to check it's updating */
